---
# These styles are only for the signatures web pages.
# The signatures themselves are styled inline in _includes/signature
---

body {
    // Position
    max-width: 30em;
    margin: 50vh auto 0 auto;
    transform: translateY(-60%);
    @media screen and (max-width: 500px), (max-width: 500px) {
        margin: 1em;
        transform: none;
    }
    // Formatting
    font-family: 'Lato', sans-serif;
}
ul {
    padding: 0;
    list-style-position: inside;
}
a {
    text-decoration: none;
    color: initial;
}